<html>
    <head>
			<title>Login Page</title>
    </head>
    <body>
        <h1>Login</h1>
        <form id="login-form">
            <label for="username-input">Username</label>
            <input type="text" name="username-input" id="username" placeholder="Your username">
            <label for="password-input">Password</label>
            <input type="password" name="password-input" id="password" placeholder="Your password">
            <button type="submit">Login</button>
        </form>
		<script>
		    
            function formValidator(event){
                event.preventDefault();

                let user = document.getElementById("username").value;
                let pass = document.getElementById("password").value;

                if(user == ""){
                    alert("Username cannot be null");
                }
                else if (pass == ""){
                    alert("Password cannot be null");
                }
                else{
                    alert("Incorrect user or pass.")
                }
            }
            
            let myform = document.getElementById("login-form");
            myform.addEventListener('submit', formValidator);
		</script>
    </body>
</html>