<html>
    <head>
			<title>Login Page</title>
    </head>
    <body>
        <h1>Login</h1>
        <form id="login-form">
            <label for="username-input">Username</label>
            <input type="text" name="username-input" id="username" placeholder="Your username" required>
            <label for="password-input">Password</label>
            <input type="password" id="password" name="password-input" placeholder="Your password" required>
            <button type="submit">Login</button>
        </form>
		<script>
		    
            function formValidator(event){
                event.preventDefault();
                eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                let username = document.getElementById("username").value;
                let password = document.getElementById("password-input").value;
                if( username == ""){
                    alert("Username cannot be null");
                }
                else if (password == ""){
                    alert("Password cannot be null");
                }
                else{
                    
                }
            }
            
            let myform = document.getElementById("login-form");
            myform.addEventListener('submit', formValidator);
		</script>
    </body>
</html>