<!DOCTYPE html>
<html>
    <%- include('header') -%>
    <head>
		<title>Register Page</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1 id="register">Register</h1>
        <form id="register-form">
            <label for="username-input">Username</label>
            <input type="text" name="username-input" id="username" placeholder="Your username">
            <label for="password-input">Password</label>
            <input type="password" name="password-input" id="password" placeholder="Your password">
            <label for="email-input">E-mail</label>
            <input type="email" name="email-input" id="email" placeholder="Your e-mail">
            <button type="submit">Register</button>
        </form>

        <script>
		    
            function formValidator(event){
                event.preventDefault();

                let user = document.getElementById("username").value;
                let pass = document.getElementById("password").value;
                let email = document.getElementById("email").value;

                if(user == ""){
                    alert("Username cannot be null");
                }
                else if (pass == ""){
                    alert("Password cannot be null");
                }
                else if (email == ""){
                    alert("E-mail cannot be null")
                }
                else{
                    fetch("http://127.0.0.1:8000/apiregister/", {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({username: user, password: pass, email: email})
                      }).then(response=>response.json())
                      .then(data=>{
                          console.log(data);
                          window.location.href = "/login";
                          alert("succesful registration");
                      });
                }
            }
            
            let myform = document.getElementById("register-form");
            myform.addEventListener('submit', formValidator);

		</script>

        <script>
            window.userLoggedIn = false;

            function isLoggedIn(){
                let accessToken = localStorage.getItem("access");
                if(accessToken != null && accessToken != ""){
                    window.userLoggedIn = true;
                }
            }

            isLoggedIn();
            if(!window.userLoggedIn){
                var element = document.getElementById("nav-basket");
                element.remove();
            }
            
        </script>
    </body>
</html>
