<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <head>
    <title>NASA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">

    <script>
	    window.userLoggedIn = false;

	    function isLoggedIn(){
		    let accessToken = localStorage.getItem("access");
        let loginLink = document.getElementById("nav-log");

        if(accessToken != null && accessToken != ""){
        // if there is an access token in localstorage
          window.userLoggedIn = true;
        }
		    if(window.userLoggedIn){
          loginLink.innerHTML = "Logout";
          loginLink.href = "/#"
          loginLink.onclick = logOut;
			  }
        else{
          loginLink.innerHTML = "Login";
          loginLink.href = "/login"
        }
	    }

      function logOut(){
        localStorage.setItem("access","");
        localStorage.setItem("refresh","");
        window.location.reload()
      }

	    isLoggedIn(); // when the page loads call isLoggedIn
      if(!window.userLoggedIn){
          var element = document.getElementById("nav-basket");
          element.remove();
      }
    </script>
    <div id="products"></div>
    <script>
        let products = document.getElementById("products");
        fetch('http://127.0.0.1:8000/api/products/')
        .then(response => response.json())
        .then(data => data.forEach(element => {
            
            let productName = element.name
            let productDesc = element.description
            let productImage = element.image
            let productPrice = element.price
            let productStr = "/productindividual?id=" + element['id'];

            let link = document.createElement("p");
            let text = document.createElement("p");

            show_image(productImage, 150, 150, 'pimg')
  
            link.innerHTML = "<a href='" + productStr + "'>More</a>"
            text.innerHTML = productDesc + " - " + "€" + productPrice
           
            products.appendChild(link)
            products.appendChild(text)

        },console.log(data)));
    </script>
    
    <script>
    function show_image(src, width, height, alt) {
        let products = document.getElementById("products");
        var img = document.createElement("img");
        img.src = src;
        img.width = width;
        img.height = height;
        img.alt = alt;
        products.appendChild(img)

    }
    </script>
  </body>
</html>
