{% extends 'base.html' %}

{% block title %}Hello world{% endblock %}


{% block content %}
<ul>
    <a href="/register">
        <p>Don't have an account? Register here.</p>
    </a>
    <a href="/login">
        <p>Login here.</p>
    </a>
    <div>
    {% for p in products  %}
    {{ p.name }} - €{{p.price}} - {{p.description}}</br>
        
         <a href="/products/{{p.id}}">
             <img src="{{p.image.url}}"/>
            <br>View
            <br><br>
        </a>
    {% endfor %}
    </div>

</ul>
{% endblock %}